build/*
!build/README.txt
!test/support/README.txt
flash.X/build/*
flash.X/dlist/*
flash.X/debug/*
flash.X/*.obj
flash.X/funclist
flash.X/funclist
#flash.X/nbproject/Makefile-genesis.properties
#flash.x/nbproject/configuration.xml
#flash.x/nbproject/*
